<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length > 0) { %>
            <ul class="orders">
                <% orders.forEach(order => { %>
                    <li class="orders__item">
                        <h1>Order - #<%= order?._id %></h1>
                        <ul>
                            <% order?.items.forEach(product => { %>
                                <li class="orders__products-item">
                                    <h2><%=product.title %> (<%=product.quantity %>)</h2>
                                </li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>nothing here!</p>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>